@{
    ViewData["Title"] = "LIA Kontroll";
}

@model IEnumerable<CompanyEntity>

<div class="companies-wrapper">
    @foreach (var company in Model)
    {
        <partial name="Partials/_Companies" model="company" />
    }
</div>
