<partial name="Partials/Modals/_AddCompanyModal" model="new AddCompanyFormModel()" />

<div class="header-wrapper">
    <h1 class="header-text">LIA Kontroll</h1>
    <button class="btn" id="company-add-btn" data-modal="true" data-target="#addCompanyModal">+ Företag</button>
</div>