@model AddCompanyFormModel

<div id="addCompanyModal" class="modal addCompanyModal company-modal">
    <div class="modal-content">

        <div class="modal-header">
            <h4>Lägg till företag</h4>
            <button class="btn-close" data-close="true"> &#10006;</button>
        </div>

        <div class="form-wrapper">
            <form id="form" asp-action="AddCompany" id="form" method="post" enctype="multipart/form-data" asp-antiforgery="true" novalidate>

                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" type="text">
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" type="text">
                    <span asp-validation-for="Description"></span>
                </div>

                <button class="btn" type="submit">Lägg till</button>
            </form>
        </div>
    </div>
</div>